<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380356608239-l7h05kv5hh5smg0c7kbhcteiauovje2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380356608239-l7h05kv5hh5smg0c7kbhcteiauovje2v</string>
	<key>API_KEY</key>
	<string>AIzaSyAbVjCa_TvTg48_F0Oml2ldzmI5A6avjPY</string>
	<key>GCM_SENDER_ID</key>
	<string>380356608239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nixlab.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-43fb1</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-43fb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380356608239:ios:007f7896a6ab36ce711b1a</string>
</dict>
</plist>